/Examen/nbproject/private/
/EXAMEN-FRAN-PARRAPAEZ/nbproject/private/
/EXAMEN-FRAN-PARRAPAEZ/build/
/Examen/build/
/Expresiones_regulares/nbproject/private/
/MatisseCrear/nbproject/private/
/MatisseCrear/build/
/MatisseModifBorrar/nbproject/private/
/MatisseModifBorrar/build/
/Practica5/nbproject/private/
/Practica5/build/
/LibreriaComponentes/nbproject/private/
/LibreriaComponentes/dist/
/LibreriaComponentes/build/
/PruebaTema6/nbproject/private/
/PruebaTema6/build/
/PruebaTema6/dist/